.background-img{
	background-image: url("https://a0.muscache.com/4ea/air/r:w3100-h1200-sfit,e:fjpg-c80/pictures/318dae49-6efb-484c-b4d2-b3d84c2bcd4e.jpg");
}

.card-img{
	background-color: white;
	padding: 30px;
	margin: 10px;
	position: relative;
	
}